extends layout

block content
 h1 #{title}
 div#container
 script(src="javascripts/react.js")
 script(src="javascripts/react-dom.js")
 script(src="javascripts/babel.core.min.js")
 script(src="javascripts/remarkable.min.js")
 script(type="text/babel" src="javascripts/realtime.js")
